In [1]:
from datetime import datetime, timedelta
import pandas_datareader.data as web
import yfinance as yf
import pandas as pd
import numpy as np
import time

pd.options.display.float_format = '{:,.2f}'.format

In [2]:
def get_tickers(file=r"Stock names.txt"):
    with open(file) as f:
        tickers = f.read().split("\n")
    return [ticker for ticker in tickers if "." not in ticker]

In [9]:
def get_all_tickers(etf=False):
    # Get a list of all available tickers from Yahoo Finance
    all_tickers = web.get_nasdaq_symbols()
    all_tickers = all_tickers[~all_tickers["Test Issue"]]  # Filter out stocks that we can't fetch their data for some reason
    
    if not etf:
        all_tickers = all_tickers[~all_tickers["ETF"]]  # Filter out ETFs
    tickers = all_tickers.index.tolist()
    return [str(ticker) for ticker in tickers if str(ticker).isalpha()]

In [10]:
def get_info(df):
    high = df['High'].max()
    close = df['Close'].iloc[-1]
    pct_to_52 = ((high - close) / high) * 100
    volume = df["Volume"].iloc[-1]
    date_of_high = df['High'].idxmax()
    
    
    new_df = pd.DataFrame({'Close': close, '52wk High': high, "Percent from 52": pct_to_52, "Volume": volume, "doh": date_of_high, "Volume$": volume * close})

    return new_df

In [11]:
def get_data(tickers_list):
    return yf.download(tickers_list, period="1y")

In [ ]:
s = time.time()
data = get_data(get_all_tickers())
data_cop = data.copy()
print(time.time() - s)

[***                    6%                       ]  445 of 7446 completed

In [ ]:
df = get_info(data)
cop = df.copy()
df

In [ ]:
df = cop.copy()
df = df.dropna(subset=['Close'])
vol_thresh = 10000
vold_thresh= 450000
df = df[df['Volume'] >= vol_thresh]
df = df[df['Volume$'] >= vold_thresh]
time_thresh1 = datetime.now() - timedelta(days=60)  # Hit the high between 120 and 200 days ago (3 - 7 months)
time_thresh2 = datetime.now() - timedelta(days=200)  
df = df[(df["doh"] < time_thresh1) & (df["doh"] > time_thresh2)]
df.sort_values(by='Percent from 52', ascending=True).head(20)

In [78]:
def get_info_test(df):        
    days_back = 12
    
    _highs = df['High'][:-days_back].max()
    _closes = df['Close'].iloc[-days_back]
    _pct_to_52 = ((_highs - _closes) / _highs) * 100
    # _volume = np.nanmean(df["Volume"].iloc[-days_back])
    _date_of_high = df['High'][:-days_back].idxmax()
    
    highs = df['High'].max()
    date_of_high = df['High'].idxmax()
    closes = df['Close'].iloc[-1]
    volume = df["Volume"].iloc[-3:].mean()  # Calculates the average volume in the last 3 days
    pct_to_52 = ((highs - closes) / highs) * 100
    
    new_df = pd.DataFrame({'Old Close': _closes, 'Old 52wk High': _highs, "Old Percent from 52": _pct_to_52, "Volume": volume, "doh": _date_of_high, "Close": closes, "Prct252": pct_to_52, "high52": highs, "date of break": date_of_high})

    return new_df

In [ ]:
s = time.time()
data = get_data(get_all_tickers())
data_cop = data.copy()
print(time.time() - s)

In [79]:
df = get_info_test(data)
cop = df.copy()
cop

,Old Close,Old 52wk High,Old Percent from 52,Volume,doh,Close,Prct252,high52,date of break
A,117.00,160.26,26.99,3098500.00,2022-12-13,NaN,NaN,160.26,2022-12-13
AA,34.09,58.24,41.46,8763950.00,2022-08-26,NaN,NaN,58.24,2022-08-26
AAA,24.58,24.73,0.58,3550.00,2023-02-22,NaN,NaN,24.82,2023-07-10
AAAU,19.08,20.43,6.61,893750.00,2023-05-04,NaN,NaN,20.43,2023-05-04
AAC,10.57,10.58,0.09,309650.00,2023-06-30,NaN,NaN,10.60,2023-07-18
...,...,...,...,...,...,...,...,...,...
ZXIET,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaT
ZXZZT,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaT
ZYME,8.26,10.80,23.52,484550.00,2023-01-19,NaN,NaN,10.80,2023-01-19
ZYNE,0.35,1.39,74.82,225900.00,2022-08-08,NaN,NaN,1.39,2022-08-08
ZYXI,9.00,17.25,47.83,117300.00,2023-01-06,NaN,NaN,17.25,2023-01-06

In [81]:
# Filtering and sorting

df = cop.copy()
time_thresh = datetime.now() - timedelta(days=120)
break_time_thresh = datetime.now() - timedelta(days=9)  # How many days ago it broke
vol_thresh = 10000

df = df[df["Old 52wk High"] != df["high52"]]
# df = df[df['Old Volume'] >= vol_thresh]
df = df[df["doh"] < time_thresh]
df = df[df["date of break"] < break_time_thresh]
df["diff"] = datetime.now() - df["date of break"]
pd.options.display.float_format = '{:.2f}'.format
df.sort_values(by='Volume', ascending=False).head(20)

,Old Close,Old 52wk High,Old Percent from 52,Volume,doh,Close,Prct252,high52,date of break,diff
MARA,15.67,18.88,17.00,29030000.00,2022-08-11,NaN,NaN,19.88,2023-07-14,10 days 12:38:52.331717
SNAP,11.68,12.94,9.74,20912000.00,2022-09-12,NaN,NaN,13.89,2023-07-13,11 days 12:38:52.331717
AUR,2.80,3.27,14.37,14424950.00,2022-08-11,NaN,NaN,3.54,2023-07-12,12 days 12:38:52.331717
BWA,44.95,45.02,0.15,1709850.00,2023-03-03,NaN,NaN,47.05,2023-07-13,11 days 12:38:52.331717
ROVR,4.84,5.26,7.98,1527550.00,2022-11-08,NaN,NaN,5.29,2023-07-12,12 days 12:38:52.331717
DFAE,23.42,24.36,3.86,1458350.00,2023-01-26,NaN,NaN,24.41,2023-07-13,11 days 12:38:52.331717
HLT,148.32,152.89,2.99,1438900.00,2023-02-15,NaN,NaN,155.02,2023-07-11,13 days 12:38:52.331717
INMD,38.07,41.84,9.01,1278750.00,2023-02-16,NaN,NaN,46.46,2023-07-13,11 days 12:38:52.331717
VBLT,0.26,0.31,15.87,1103500.00,2022-07-25,NaN,NaN,0.32,2023-07-13,11 days 12:38:52.331717
MGNI,13.30,14.21,6.40,971050.00,2023-02-22,NaN,NaN,15.73,2023-07-13,11 days 12:38:52.331717
LKQ,57.19,59.33,3.61,964400.00,2023-02-02,NaN,NaN,59.38,2023-07-12,12 days 12:38:52.331717
EH,15.61,17.84,12.50,927250.00,2023-01-13,NaN,NaN,19.86,2023-07-12,12 days 12:38:52.331717
ARKF,20.91,21.73,3.77,853700.00,2022-08-11,NaN,NaN,24.21,2023-07-14,10 days 12:38:52.331717
CBD,4.50,4.43,-1.58,803300.00,2022-11-01,NaN,NaN,4.76,2023-07-12,12 days 12:38:52.331717
RL,122.55,128.94,4.96,536950.00,2023-02-02,NaN,NaN,132.66,2023-07-12,12 days 12:38:52.331717
ZGN,13.31,13.90,4.24,510800.00,2023-02-17,NaN,NaN,14.72,2023-07-13,11 days 12:38:52.331717
SRAD,13.15,14.56,9.68,422700.00,2022-08-17,NaN,NaN,15.56,2023-07-13,11 days 12:38:52.331717
ITA,116.04,118.14,1.78,418800.00,2023-03-06,NaN,NaN,119.09,2023-07-12,12 days 12:38:52.331717
WLK,120.55,126.32,4.57,410250.00,2023-02-03,NaN,NaN,130.39,2023-07-13,11 days 12:38:52.331717
TK,6.57,6.75,2.67,388300.00,2023-03-22,NaN,NaN,6.85,2023-07-13,11 days 12:38:52.331717

In [21]:
data_cop["Close"]["ZVZZT"]

Date
2022-07-25   NaN
2022-07-26   NaN
2022-07-27   NaN
2022-07-28   NaN
2022-07-29   NaN
              ..
2023-07-18   NaN
2023-07-19   NaN
2023-07-20   NaN
2023-07-21   NaN
2023-07-24   NaN
Name: ZVZZT, Length: 251, dtype: float64

In [50]:
all_tickers = web.get_nasdaq_symbols()
all_tickers = all_tickers[~all_tickers["ETF"] & ~all_tickers["Test Issue"]]
# all_tickers.loc["O"]
all_tickers

,Nasdaq Traded,Security Name,Listing Exchange,Market Category,ETF,Round Lot Size,Test Issue,Financial Status,CQS Symbol,NASDAQ Symbol,NextShares
Symbol,,,,,,,,,,,
A,True,"Agilent Technologies, Inc. Common Stock",N,,False,100.0,False,NaN,A,A,False
AA,True,Alcoa Corporation Common Stock,N,,False,100.0,False,NaN,AA,AA,False
AAC,True,Ares Acquisition Corporation Class A Ordinary ...,N,,False,100.0,False,NaN,AAC,AAC,False
AAC.U,True,"Ares Acquisition Corporation Units, each consi...",N,,False,100.0,False,NaN,AAC.U,AAC=,False
AAC.W,True,Ares Acquisition Corporation Redeemable Warran...,N,,False,100.0,False,NaN,AAC.WS,AAC+,False
...,...,...,...,...,...,...,...,...,...,...,...
ZVSA,True,"ZyVersa Therapeutics, Inc. - Common Stock",Q,G,False,100.0,False,D,NaN,ZVSA,False
ZWS,True,Zurn Elkay Water Solutions Corporation Common ...,N,,False,100.0,False,NaN,ZWS,ZWS,False
ZYME,True,Zymeworks Inc. - Common Stock,Q,Q,False,100.0,False,N,NaN,ZYME,False
ZYNE,True,"Zynerba Pharmaceuticals, Inc. - Common Stock",Q,S,False,100.0,False,D,NaN,ZYNE,False
ZYXI,True,"Zynex, Inc. - Common Stock",Q,Q,False,100.0,False,N,NaN,ZYXI,False